# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/build

# Ignore Karate target directory
target
app/target

# IDE and OS files
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
